<form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)" class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="input-container">
        <input type="text" formControlName="firstName" matInput placeholder="First Name" />
        <mat-error *ngIf="profileForm.controls['firstName'].hasError('required')">
          This value must be required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <input type="text" formControlName="lastName" matInput placeholder="Last Name" />
        <mat-error *ngIf="profileForm.controls['lastName'].hasError('required')">
          This value must be required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Data of Birth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="profileForm.controls['dateOfBirth'].hasError('required')">
          This value must be required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <mat-label>Framework</mat-label>
        <mat-select #framework formControlName="framework" (selectionChange)="getValue($event.value.value)">
          <mat-option *ngFor="let item of data | keyvalue" [value]="item">{{item.key}}</mat-option>
        </mat-select>
        <mat-error *ngIf="profileForm.controls['framework'].hasError('required')">
          This value must be required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <mat-label>Framework Version</mat-label>
        <mat-select formControlName="frameworkVersion">
          <mat-option *ngFor="let item of versionArr" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-error *ngIf="profileForm.controls['frameworkVersion'].hasError('required')">
          This value must be required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <input formControlName="email" matInput placeholder="Email" />
        <mat-error *ngIf="profileForm.controls['email'].hasError('pattern')">
          This mail should be real email!
        </mat-error>
        <mat-error *ngIf="profileForm.controls['email'].hasError('required')">
          This value must be required
        </mat-error>
        <mat-error *ngIf="profileForm.controls['email'].hasError('invalidAsync')">
          This mail is already registered
        </mat-error>
      </mat-form-field>

      <ng-container formArrayName="hobby">
        <ng-container *ngFor=" let hobby of hobies.controls; index as i">
          <div [formGroup]="getHobby(i)">
            <mat-form-field>
              <input type="text" formControlName="name" matInput placeholder="Name hobby" />
              <mat-error *ngIf="getHobby(i).controls['name'].hasError('required')">
                This value must be required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="number" formControlName="duration" matInput placeholder="Duration hobby" />
              <mat-error *ngIf="getHobby(i).controls['duration'].hasError('required')">
                This value must be required
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(profileForm.controls['hobby'].touched || sent) && profileForm.controls['hobby'].errors">
        <mat-error *ngIf="profileForm.controls['hobby'].hasError('required')">
          Hobby is required!
        </mat-error>
        <mat-error *ngIf="profileForm.controls['hobby'].hasError('minlength')">
          Hobby length should be minimum 1!
        </mat-error>
      </ng-container>

      <mat-card-actions>
        <button mat-raised-button (click)="addHobby($event)">Add hobby</button>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
